* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #3582c5;
  border-radius: 1rem;
}

button {
  cursor: pointer;
  outline: 0;
  color: #011F39;
  background-color: #fff;
  border-color: #fff;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 0.1rem solid transparent;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button:hover {
  color: #fff;
  background-color: #0559a1;
  border-color: #0559a1;
}

/*Header*/

.title-header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #011F39;
  font-weight: bold;
}

.title-header p {
  pointer-events: none;
  font-size: 1.5rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  text-align: center;
  background-color: #fff;
  width: 25rem;
  height: 2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}

/*mapa*/
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.content {
  width: 100%;
  height: 100%;

}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}


/*menu hamburguer*/

.menu-bar {
  display: flex;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  max-height: 7rem;
  max-width: 7rem;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 24px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 24px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 24px -7px rgba(0, 0, 0, 0.75);
  border-radius: 0.2rem;
}

.menu-bar.hide {
  height: 0%;
  width: 0%;
  pointer-events: none;
  display: none;
}

#menuBarButton,
#exitForm,
#exitListButton,
#exitDeleteForm {
  all: unset;
  cursor:pointer;
}

#menuBarButton{
  font-size: 3rem;
}

/*lista*/

.event-list {
  flex-direction: column;
  background-color: #fff;
  width: 23%;
  min-height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  transition: width 0.5s ease-in-out;
  -webkit-box-shadow: 14px 4px 16px -12px rgba(28, 28, 28, 0.43);
  -moz-box-shadow: 14px 4px 16px -12px rgba(28, 28, 28, 0.43);
  box-shadow: 14px 4px 16px -12px rgba(28, 28, 28, 0.43);
  position: absolute;
}

.event-list.hide {
  height: 0%;
  width: 0%;
  pointer-events: none;
}

#exitList {
  height: 1rem;
  width: 1rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 0.1rem;
  width: 100%;
}

.date-search {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}

.date-search label {
  font-size: 1rem;
}

.exit {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.5rem;
}


#searchEvent {
  padding-left: 2rem;
  width: 20rem;
  height: 2rem;
  background-image: url(./img/search-icon.svg);
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  background-position: 0.4rem 0.3rem;
}

.date-ini,
.date-end {
  display: flex;
  flex-direction: column;
}

/*Card*/

.cards{
  margin-top: 1rem;
  overflow: auto;
  height: 80vh;
  cursor: default;
}

.card {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: #011F39;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  gap: 1rem;
  -webkit-box-shadow: -1px 12px 34px -28px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 12px 34px -28px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 12px 34px -28px rgba(0, 0, 0, 0.75);
}

.card-header {
  font-size: 1.2rem;
  border-radius: 0.3rem;
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: #043057;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.card-actions button{
  all: unset;
  cursor: pointer;
}

.card-actions img{
  width: 1rem;
}

.card-actions{
  display: flex;
  gap: 0.5rem;
  margin-right: 1.5rem;
}


.desc {
  font-size: 0.9rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;


}

.dates {
  font-size: 0.9rem;
  padding-left: 0.5rem;
}

.showButton {
  display: flex;
  justify-content: flex-end;

}

.card-title,
.desc,
.dates{
  pointer-events: none;
}

/*Form registro*/

.form-register {
  height: 60vh;
  width: 25rem;
  margin-top: 7rem;
  right: 6rem;
  position: absolute;
  margin-right: 10px;
  background-color: white;
  -webkit-box-shadow: 4px 2px 25px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 4px 2px 25px -1px rgba(0, 0, 0, 0.52);
  box-shadow: 4px 2px 25px -1px rgba(0, 0, 0, 0.52);
}

.exit-form{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#exitForm{
  all: unset;
  margin-top: 0.5rem;
  padding-right: 0.5rem;
}

#exitFormIcon{
  width: 1rem;
  padding-right: 90%;
}

.title-form{
  text-align: center;
  padding-top: 1rem;
  font-size: 1.3rem;
  pointer-events: none;
}

.title-form h2{
  font-size: 1rem;
  opacity: 60%;
  font-weight: lighter;
}

.infos-event{
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title-event input{
  width: 22rem;
  height: 1.5rem;
}

.desc-event textarea{
  width: 22rem;
  height: 6rem;
}

.date-form{
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}

.date-ini-form{
  width: 10rem;
}

.date-end-form{
  width: 10rem;
}

.date-ini-form input,
.date-end-form input{
  width: 10rem;
}

.button-event-form{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.5rem;
}

.button-event,
.button-change{
  background-color: #011F39;
  color: white;
  width: 15rem;
  height: 2.5rem;
}

.button-event:hover,
.button-change:hover{
  background-color: #0559a1;
}

.form-register.hide{
  width: 0;
  height: 0;
  pointer-events: none;
  display: none;
}

.button-event.hide{
  width: 0;
  height: 0;
  pointer-events: none;
  display: none;
}

.button-change.hide{
  width: 0;
  height: 0;
  pointer-events: none;
  display: none;
}

#exitForm{
  cursor: pointer;
}

/*Confirm delete*/
.confirm-delete{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(16, 17, 16, 0.3);
}

.confirm-delete.hide{
  width: 0;
  height: 0;
  display: none;
}

.delete-confirmation{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40rem;
  height: 28vh;
  background-color: #fff;
  pointer-events: none;
  -webkit-box-shadow: 1px 4px 21px -7px rgba(0,0,0,0.51);
  -moz-box-shadow: 1px 4px 21px -7px rgba(0,0,0,0.51);
  box-shadow: 1px 4px 21px -7px rgba(0,0,0,0.51);
}

.title-delete{
  pointer-events: none;
  flex-wrap: wrap;
}

.decision-delete{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  pointer-events: all;
  padding-top: 1rem;
}

.decision-delete button{
  background-color: #011F39;
  color: white;
  width: 5rem;
  height: 6vh;
  pointer-events: all;
}

.exit-delete{
  width: 98%;
  display: flex;
  justify-content: flex-end;
}

#exit-delete{
  cursor: pointer;
  pointer-events: all;
  background-color: #fff;
}

#exit-delete:hover{
  background-color: #011F39;
  color: #fff;
}

#noDelete{
  background-color: #CD1818;
}

#yesDelete{
  background-color: #379237;
}

/*Form login*/

.form-login{
  height: 30rem;
  width: 20rem;
  margin-top: 7rem;
  right: 6rem;
  position: absolute;
  margin-right: 10px;
  background-color: white;
  -webkit-box-shadow: 4px 2px 25px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 4px 2px 25px -1px rgba(0, 0, 0, 0.52);
  box-shadow: 4px 2px 25px -1px rgba(0, 0, 0, 0.52);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem
}

.form-login.hide{
  height: 0%;
  width: 0%;
  pointer-events: none;
  display: none;
}

.login-button{
  margin-right: 2rem;
}

.fields-login{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fields-login input{
  width: 12rem;
  height: 1.5rem;
}

.buttons-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons-login button{
  color: #fff;
}

#formLoginButton:hover,
#formCreateButton:hover  {
  background-color: rgb(7, 54, 95);
}

.title-login{
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.exit-login{
  display: flex;
  justify-content: flex-end;
  width: 120%;
}

#formLoginButton{
  background-color: #011F39;
  width: 10rem;
}

#formCreateButton{
  background-color: #183f61;
}

.loginButton.hide,
.logoutButton.hide{
  height: 0%;
  width: 0%;
  pointer-events: none;
  display: none;
}

.show-and-like{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#likeButton{
  all: unset;
  font-size: 1.3rem;
  cursor: pointer;
}

#likeButton:hover{
  transition: 0.3s;
  color: #f3a9a9
}

.buttons-lists{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

#buttonRecommendationList,
#buttonEventList{
  color: #fff;
  width: 9rem;
}

#buttonRecommendationList{
  background-color: #53a653;
}

#buttonEventList{
  background-color: #011F39;
}

